@font-face {
    font-family: 'Sari-Medium';
    src: url("/fonts/sari-medium.eot");
    src: url("/fonts/sari-medium.eot?#iefix") format('embedded-opentype'), url("/fonts/sari-medium.woff") format('woff'), url("/fonts/sari-medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
